<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Remover el handler global e instalar iisnode para server.js -->
      <remove name="iisnode" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Se reescriben todas las solicitudes a server.js sin alterar la ruta -->
        <rule name="NodeJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <iisnode loggingEnabled="true" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
